.marker {
  background: none;
  border: none;
  cursor: pointer;
}

.marker img {
  width: 20px;
  height: 30px;
}

.popup-info {
  text-align: center;
}

.popup-info img {
  text-align: center;
  width: 200px;
  height: 200px;
}
